<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlyx.wechatjava.mapper.MiniGroupMapper" >
  <resultMap id="BaseResultMap" type="com.zlyx.wechatjava.pojo.MiniGroup" >
    <id column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="group_adm_id" property="groupAdmId" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="group_level" property="groupLevel" jdbcType="VARCHAR" />
    <result column="stu_year" property="stuYear" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="op_time" property="opTime" jdbcType="VARCHAR" />
    <result column="op_name" property="opName" jdbcType="VARCHAR" />
    <result column="del_time" property="delTime" jdbcType="VARCHAR" />
    <result column="del_name" property="delName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    group_id, group_adm_id, group_name, group_level, stu_year, remark, create_time, create_name, 
    op_time, op_name, del_time, del_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zlyx.wechatjava.pojo.MiniGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mini_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mini_group
    where group_id = #{groupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mini_group
    where group_id = #{groupId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zlyx.wechatjava.pojo.MiniGroupExample" >
    delete from mini_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zlyx.wechatjava.pojo.MiniGroup" >
    insert into mini_group (group_id, group_adm_id, group_name, 
      group_level, stu_year, remark, 
      create_time, create_name, op_time, 
      op_name, del_time, del_name
      )
    values (#{groupId,jdbcType=VARCHAR}, #{groupAdmId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{groupLevel,jdbcType=VARCHAR}, #{stuYear,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{opTime,jdbcType=VARCHAR}, 
      #{opName,jdbcType=VARCHAR}, #{delTime,jdbcType=VARCHAR}, #{delName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlyx.wechatjava.pojo.MiniGroup" >
    insert into mini_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="groupAdmId != null" >
        group_adm_id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="groupLevel != null" >
        group_level,
      </if>
      <if test="stuYear != null" >
        stu_year,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
      <if test="opName != null" >
        op_name,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
      <if test="delName != null" >
        del_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="groupAdmId != null" >
        #{groupAdmId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupLevel != null" >
        #{groupLevel,jdbcType=VARCHAR},
      </if>
      <if test="stuYear != null" >
        #{stuYear,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="opName != null" >
        #{opName,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=VARCHAR},
      </if>
      <if test="delName != null" >
        #{delName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zlyx.wechatjava.pojo.MiniGroupExample" resultType="java.lang.Integer" >
    select count(*) from mini_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mini_group
    <set >
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupAdmId != null" >
        group_adm_id = #{record.groupAdmId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupLevel != null" >
        group_level = #{record.groupLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.stuYear != null" >
        stu_year = #{record.stuYear,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createName != null" >
        create_name = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.opTime != null" >
        op_time = #{record.opTime,jdbcType=VARCHAR},
      </if>
      <if test="record.opName != null" >
        op_name = #{record.opName,jdbcType=VARCHAR},
      </if>
      <if test="record.delTime != null" >
        del_time = #{record.delTime,jdbcType=VARCHAR},
      </if>
      <if test="record.delName != null" >
        del_name = #{record.delName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mini_group
    set group_id = #{record.groupId,jdbcType=VARCHAR},
      group_adm_id = #{record.groupAdmId,jdbcType=VARCHAR},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      group_level = #{record.groupLevel,jdbcType=VARCHAR},
      stu_year = #{record.stuYear,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      create_name = #{record.createName,jdbcType=VARCHAR},
      op_time = #{record.opTime,jdbcType=VARCHAR},
      op_name = #{record.opName,jdbcType=VARCHAR},
      del_time = #{record.delTime,jdbcType=VARCHAR},
      del_name = #{record.delName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlyx.wechatjava.pojo.MiniGroup" >
    update mini_group
    <set >
      <if test="groupAdmId != null" >
        group_adm_id = #{groupAdmId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupLevel != null" >
        group_level = #{groupLevel,jdbcType=VARCHAR},
      </if>
      <if test="stuYear != null" >
        stu_year = #{stuYear,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="opName != null" >
        op_name = #{opName,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=VARCHAR},
      </if>
      <if test="delName != null" >
        del_name = #{delName,jdbcType=VARCHAR},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlyx.wechatjava.pojo.MiniGroup" >
    update mini_group
    set group_adm_id = #{groupAdmId,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      group_level = #{groupLevel,jdbcType=VARCHAR},
      stu_year = #{stuYear,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=VARCHAR},
      op_name = #{opName,jdbcType=VARCHAR},
      del_time = #{delTime,jdbcType=VARCHAR},
      del_name = #{delName,jdbcType=VARCHAR}
    where group_id = #{groupId,jdbcType=VARCHAR}
  </update>
</mapper>