<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlyx.wechatjava.mapper.MiniStudentMapper" >
  <resultMap id="BaseResultMap" type="com.zlyx.wechatjava.pojo.MiniStudent" >
    <id column="stu_no" property="stuNo" jdbcType="BIGINT" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="stu_sex" property="stuSex" jdbcType="VARCHAR" />
    <result column="stu_age" property="stuAge" jdbcType="VARCHAR" />
    <result column="stu_group_id" property="stuGroupId" jdbcType="VARCHAR" />
    <result column="stu_year" property="stuYear" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="op_time" property="opTime" jdbcType="VARCHAR" />
    <result column="op_name" property="opName" jdbcType="VARCHAR" />
    <result column="del_time" property="delTime" jdbcType="VARCHAR" />
    <result column="del_name" property="delName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    stu_no, stu_name, stu_id, stu_sex, stu_age, stu_group_id, stu_year, remark, create_time, 
    create_name, op_time, op_name, del_time, del_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zlyx.wechatjava.pojo.MiniStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mini_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mini_student
    where stu_no = #{stuNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mini_student
    where stu_no = #{stuNo,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zlyx.wechatjava.pojo.MiniStudentExample" >
    delete from mini_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zlyx.wechatjava.pojo.MiniStudent" >
    insert into mini_student (stu_no, stu_name, stu_id, 
      stu_sex, stu_age, stu_group_id, 
      stu_year, remark, create_time, 
      create_name, op_time, op_name, 
      del_time, del_name)
    values (#{stuNo,jdbcType=BIGINT}, #{stuName,jdbcType=VARCHAR}, #{stuId,jdbcType=VARCHAR}, 
      #{stuSex,jdbcType=VARCHAR}, #{stuAge,jdbcType=VARCHAR}, #{stuGroupId,jdbcType=VARCHAR}, 
      #{stuYear,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createName,jdbcType=VARCHAR}, #{opTime,jdbcType=VARCHAR}, #{opName,jdbcType=VARCHAR}, 
      #{delTime,jdbcType=VARCHAR}, #{delName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zlyx.wechatjava.pojo.MiniStudent" >
    insert into mini_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuNo != null" >
        stu_no,
      </if>
      <if test="stuName != null" >
        stu_name,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="stuSex != null" >
        stu_sex,
      </if>
      <if test="stuAge != null" >
        stu_age,
      </if>
      <if test="stuGroupId != null" >
        stu_group_id,
      </if>
      <if test="stuYear != null" >
        stu_year,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
      <if test="opName != null" >
        op_name,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
      <if test="delName != null" >
        del_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stuNo != null" >
        #{stuNo,jdbcType=BIGINT},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="stuSex != null" >
        #{stuSex,jdbcType=VARCHAR},
      </if>
      <if test="stuAge != null" >
        #{stuAge,jdbcType=VARCHAR},
      </if>
      <if test="stuGroupId != null" >
        #{stuGroupId,jdbcType=VARCHAR},
      </if>
      <if test="stuYear != null" >
        #{stuYear,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="opName != null" >
        #{opName,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=VARCHAR},
      </if>
      <if test="delName != null" >
        #{delName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zlyx.wechatjava.pojo.MiniStudentExample" resultType="java.lang.Integer" >
    select count(*) from mini_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mini_student
    <set >
      <if test="record.stuNo != null" >
        stu_no = #{record.stuNo,jdbcType=BIGINT},
      </if>
      <if test="record.stuName != null" >
        stu_name = #{record.stuName,jdbcType=VARCHAR},
      </if>
      <if test="record.stuId != null" >
        stu_id = #{record.stuId,jdbcType=VARCHAR},
      </if>
      <if test="record.stuSex != null" >
        stu_sex = #{record.stuSex,jdbcType=VARCHAR},
      </if>
      <if test="record.stuAge != null" >
        stu_age = #{record.stuAge,jdbcType=VARCHAR},
      </if>
      <if test="record.stuGroupId != null" >
        stu_group_id = #{record.stuGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.stuYear != null" >
        stu_year = #{record.stuYear,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createName != null" >
        create_name = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.opTime != null" >
        op_time = #{record.opTime,jdbcType=VARCHAR},
      </if>
      <if test="record.opName != null" >
        op_name = #{record.opName,jdbcType=VARCHAR},
      </if>
      <if test="record.delTime != null" >
        del_time = #{record.delTime,jdbcType=VARCHAR},
      </if>
      <if test="record.delName != null" >
        del_name = #{record.delName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mini_student
    set stu_no = #{record.stuNo,jdbcType=BIGINT},
      stu_name = #{record.stuName,jdbcType=VARCHAR},
      stu_id = #{record.stuId,jdbcType=VARCHAR},
      stu_sex = #{record.stuSex,jdbcType=VARCHAR},
      stu_age = #{record.stuAge,jdbcType=VARCHAR},
      stu_group_id = #{record.stuGroupId,jdbcType=VARCHAR},
      stu_year = #{record.stuYear,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      create_name = #{record.createName,jdbcType=VARCHAR},
      op_time = #{record.opTime,jdbcType=VARCHAR},
      op_name = #{record.opName,jdbcType=VARCHAR},
      del_time = #{record.delTime,jdbcType=VARCHAR},
      del_name = #{record.delName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlyx.wechatjava.pojo.MiniStudent" >
    update mini_student
    <set >
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="stuSex != null" >
        stu_sex = #{stuSex,jdbcType=VARCHAR},
      </if>
      <if test="stuAge != null" >
        stu_age = #{stuAge,jdbcType=VARCHAR},
      </if>
      <if test="stuGroupId != null" >
        stu_group_id = #{stuGroupId,jdbcType=VARCHAR},
      </if>
      <if test="stuYear != null" >
        stu_year = #{stuYear,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=VARCHAR},
      </if>
      <if test="opName != null" >
        op_name = #{opName,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=VARCHAR},
      </if>
      <if test="delName != null" >
        del_name = #{delName,jdbcType=VARCHAR},
      </if>
    </set>
    where stu_no = #{stuNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlyx.wechatjava.pojo.MiniStudent" >
    update mini_student
    set stu_name = #{stuName,jdbcType=VARCHAR},
      stu_id = #{stuId,jdbcType=VARCHAR},
      stu_sex = #{stuSex,jdbcType=VARCHAR},
      stu_age = #{stuAge,jdbcType=VARCHAR},
      stu_group_id = #{stuGroupId,jdbcType=VARCHAR},
      stu_year = #{stuYear,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=VARCHAR},
      op_name = #{opName,jdbcType=VARCHAR},
      del_time = #{delTime,jdbcType=VARCHAR},
      del_name = #{delName,jdbcType=VARCHAR}
    where stu_no = #{stuNo,jdbcType=BIGINT}
  </update>
</mapper>